/* 
	================
	==== POPUPS ====
	================
*/
body.popup-open {
  overflow: hidden;
  width: 100%;
}
#popups {
  z-index: 998;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#popups .background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background: #000;
  opacity: 0.8;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
#popups .popup {
  z-index: 999;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}
#popups .popup .inner {
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  background: #fff;
  width: 320px;
  min-height: 200px;
  padding: 50px 30px;
}
#popups .popup .inner .close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14px;
  height: 14px;
  background: url("../img/close-popup.png") center center no-repeat;
  z-index: 1;
}
#popups .popup.popup-close-disabled .close {
  display: none;
}
#popups .popup .inner .title {
  text-align: center;
  color: #000;
  font-size: 18px;
}
#popups .popup .inner .body {
  margin: 30px 0 0 0;
  color: #000;
  font-size: 16px;
}
#popups .popup .inner .body p {
  font-size: 16px;
}
#popups .popup .inner .button {
  margin: 30px auto 0 auto;
  padding: 16px 35px 0 35px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  height: 50px;
  min-width: 100px;
  cursor: pointer;
  background-color: #005697;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
#popups .popup .inner .button:hover {
  background: #004677;
}
#popups .popup[data-popup-name="custom"] .inner .title,
#popups .popup[data-popup-name="success"] .inner .title,
#popups .popup[data-popup-name="error"] .inner .title {
  text-align: center;
}
#popups .popup[data-popup-name="custom"] .inner .body,
#popups .popup[data-popup-name="success"] .inner .body,
#popups .popup[data-popup-name="error"] .inner .body {
  text-align: center;
}
