/* 
	================
	==== POPUPS ====
	================
*/
body.popup-open {
  overflow: hidden;
  position: fixed;
}
#popups {
  z-index: 998;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#popups .background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background: #000;
  opacity: 0.8;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
#popups .popup {
  z-index: 999;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}
#popups .popup .inner {
  position: relative;
  color: #000;
  background: #fff;
  padding: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
  min-height: 200px;
}
#popups .popup .inner .close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14px;
  height: 14px;
  background: url("../img/close-popup.png") center center no-repeat;
  z-index: 1;
}
#popups .popup .inner .btn {
  width: 100%;
  padding: 20px 0 0 0;
}
#popups .popup .inner .btn a {
  margin: 0 auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 40px;
  background: #ccc;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#popups .popup .inner .btn a span {
  position: relative;
  top: 10px;
}
#popups .popup[data-popup-name="test"] .inner {
  width: 500px;
}
